* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: black;
  background-color: white;
}

:root {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
  --item-color-primary: #ff7eee;
  --item-color-secondary: #df49a6;
  --text-color: black;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212;
    color: white;
  }
  :root {
    --text-primary: #d6d6d6;
    --text-secondary: #ffffff;
    --bg-primary: black;
    --bg-secondary: #3700b3;
    --item-color-primary: #bb86fc;
    --item-color-secondary: #3700b3;
    --text-color: white;
  }
}

/* NavBar */

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

.navbar {
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 600ms ease;
  z-index: 1000;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
  min-width: 65px;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5.5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(60%) opacity(0.8);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.link-text {
  display: none;
  margin-left: 1rem;
  white-space: nowrap;
}

.nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.fa-primary {
  color: var(--item-color-primary);
}

.fa-secondary {
  color: var(--item-color-secondary);
}

.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo svg {
  transform: rotate(0deg);
  transition: var(--transition-speed);
}

.logo-text {
  display: inline;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed);
  font-size: 1.2rem;
}

.navbar:hover .logo svg {
  transform: rotate(-180deg);
}

main {
  margin-left: 5rem;
  padding: 1rem;
}
.socialItem {
  display: flex;
  justify-content: center;
  align-items: center;
}
.socialSvg {
  fill: none;
  stroke: var(--item-color-primary);
}

.socialBlock {
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.btn {
  background-color: var(--item-color-secondary);
  border: none;
  padding: 0 16px;
  min-width: 64px;
  height: 36px;
  vertical-align: middle;
  text-align: center;
  text-overflow: ellipsis;
  text-transform: uppercase;
  color: var(--text-color);
  font-size: 14px;
}
.btn:hover {
  opacity: 0.7;
  cursor: pointer;
}

.btnActive {
  background-color: var(--item-color-primary);
}

.kAnimation[wobble='1'] {
  animation: wobble 1s 1;
}

.imageGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.imageCard {
  background-color: var(--item-color-secondary);
  border: solid 2px var(--item-color-primary);
  display: grid;
  grid-template-rows: 0.5fr 3fr;
}

.imageText {
  display: flex;
  justify-content: center;
}
.imageImage {
  display: flex;
  width: 100%;
}
video {
  object-fit: fill;
  width: 60vw;
  height: auto;
}
audio::-webkit-media-controls-panel {
  background-color: var(--item-color-secondary);
}

audio::-webkit-media-controls-play-button {
  color: white;
}

.socialItem > svg {
  width: 300px;
}

@keyframes wobble {
  25% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(-30deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* Small screens */
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5.5rem;
  }
  .nav-item:last-child {
    margin-top: 0;
  }
  svg {
    justify-self: center;
  }

  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .nav-link {
    justify-content: center;
    display: grid;
  }
  .link-text {
    display: block;
    margin-left: 0;
    white-space: nowrap;
    text-align: center;
    font-size: 0.875rem;
    padding-bottom: 1rem;
  }
  .nav-link svg {
    margin: 0;
  }

  main {
    margin: 0;
    margin-bottom: 100px;
  }
  .imageGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}

/* Large screens */
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .navbar:hover {
    width: 16rem;
  }

  .navbar:hover .link-text {
    display: inline;
  }

  .navbar:hover .logo svg {
    margin-left: 11rem;
  }

  .navbar:hover .logo-text {
    left: 0px;
  }
  .socialBlock {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
}
